{% load socialaccount %}
{% load i18n %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}

  <a title="{{brand.name}}" 
     class="btn btn-block btn-primary socialaccount_provider {{provider.id}} {{brand.id}}" 
     href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
     >
     {% if brand.name == 'Facebook' %}
     	<i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i>
     {% endif %}
     {% if process == 'signup' %}
     	Continue with 
     {% else %}
     	Login with
     {% endif %}
     {{brand.name}}
    </a>

{% endfor %}
{% endif %}

  <a title="{{provider.name}}" class="btn btn-block btn-primary  socialaccount_provider {{provider.id}}" 
     href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
     {% if provider.name == 'Facebook' %}
     	<i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i>
     {% endif %}
     {% if process == 'signup' %}
     	{% trans 'Continue with' %} {{ provider.name }}
     {% else %}
     	{% trans 'Login with' %} {{ provider.name }}
     {% endif %}
     
    </a>

{% endfor %}

