{% extends "core/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<script>
	mf2 = {}
	
	mf2.postCount = 10;
	mf2.lastPostId = 0;
	mf2.thread = 1;
	
	mf2.loadFeed = function() {
		var data = {
			lastPostId: mf.lastPostId,
			postCount: mf.postCount,
			thread: mf.thread
		}
		$.ajax({
			url: "/microfeed2/ajax/posts",
			type: "GET",
			dataType : "json",
			data : data
		})
		.done(function( json ) {
			$('#mf-feed').html(json.html);
			crp.load();
			mf2.attachEvents();
		})
		.fail(function( xhr, status, errorThrown ) {
			alert( "error" );
			console.log( "Error: " + errorThrown );
			console.log( "Status: " + status );
			console.dir( xhr );
		});
	}
	
	mf2.attachEvents = function () {
		$('.mf-new-post-form').unbind().submit(function(event) {
			event.preventDefault();
			$.ajax({
				url: "/microfeed2/posts/new",
				type: "POST",
				dataType : "json",
				data : $(this).serialize()
			})
			.done(function( json ) {
				$('#mf-feed').prepend(json.html);
				$('.mf-new-post-form #id_body').val('');
				mf2.attachEvents();
			})
			.fail(function( xhr, status, errorThrown ) {
				alert( "error" );
				console.log( "Error: " + errorThrown );
				console.log( "Status: " + status );
				console.dir( xhr );
			});
		});
		$('.mf-edit-post-form').unbind().submit(function(event) {
			var postId = $(this).attr('data-post-id');
			event.preventDefault();
			$.ajax({
				url: "/microfeed2/posts/edit/" + postId,
				type: "POST",
				dataType : "json",
				data : $(this).serialize()
			})
			.done(function( json ) {
				$('#' + json.destinationId).html(json.html);
				crp.load();
				mf2.attachEvents();
			})
			.fail(function( xhr, status, errorThrown ) {
				alert( "error" );
				console.log( "Error: " + errorThrown );
				console.log( "Status: " + status );
				console.dir( xhr );
			});
		});
		$('.mf-edit-post-btn').unbind().click(function() {
			var postId = $(this).attr('data-post-id');
			$.ajax({
				url: "/microfeed2/posts/edit/" + postId,
				type: "GET",
				dataType : "json",
				data : {}
			})
			.done(function( json ) {
				$('#' + json.destinationId).html(json.html);
				crp.load();
				mf2.attachEvents();
			})
			.fail(function( xhr, status, errorThrown ) {
				alert( "error" );
				console.log( "Error: " + errorThrown );
				console.log( "Status: " + status );
				console.dir( xhr );
			});
			return false;
		});
		$('.mf-cancel-post-edit').unbind().click(function() {
			var postId = $(this).attr('data-post-id');
			$.ajax({
				url: "/microfeed2/posts/" + postId,
				type: "GET",
				dataType : "json",
				data : {}
			})
			.done(function( json ) {
				$('#' + json.destinationId).html(json.html);
				crp.load();
				mf2.attachEvents();
			})
			.fail(function( xhr, status, errorThrown ) {
				alert( "error" );
				console.log( "Error: " + errorThrown );
				console.log( "Status: " + status );
				console.dir( xhr );
			});
			return false;
		});
		$('.mf-edit-comment-btn').unbind().click(function() {
			var commentId = $(this).attr('data-comment-id');
			$('#mf-view-comment-'+commentId).hide();
			$('#mf-edit-comment-'+commentId).show();
			// ajax to load comment form
			$.ajax({
				url: "/microfeed2/ajax/comments/edit/" + commentId,
				type: "GET",
				dataType : "json",
				data: {commentId : commentId}
			})
			.done(function( json ) {
				$('#' + json.destinationId).html(json.html);
				mf2.attachEvents();
			})
			.fail(function( xhr, status, errorThrown ) {
				alert( "error" );
				console.log( "Error: " + errorThrown );
				console.log( "Status: " + status );
				console.dir( xhr );
			})
			return false;
		});
		$('.mf-cancel-comment-edit').unbind().click(function() {
			var commentId = $(this).attr('data-comment-id');
			$('#mf-edit-comment-'+commentId).hide();
			$('#mf-view-comment-'+commentId).show();
		});
		$('.mf-edit-comment-form').unbind().submit(function(event) {
			var commentId = $(this).attr('data-comment-id');
			event.preventDefault();
			$.ajax({
				url: "/microfeed2/ajax/comments/edit/" + commentId,
				type: "POST",
				dataType : "json",
				data : $(this).serialize()
			})
			.done(function( json ) {
				$('#' + json.destinationId).html(json.html);
				mf2.attachEvents();
				if (json.status == 'complete') {
					$('#mf-edit-comment-'+commentId).hide();
					$('#mf-view-comment-'+commentId).show();
				}
			})
			.fail(function( xhr, status, errorThrown ) {
				alert( "error" );
				console.log( "Error: " + errorThrown );
				console.log( "Status: " + status );
				console.dir( xhr );
			});
		});
		$('.mf-new-comment-form').unbind().submit(function(event) {
			var postId = $(this).attr('data-post-id');
			event.preventDefault();
			$.ajax({
				url: "/microfeed2/ajax/posts/" + postId + "/comments/new",
				type: "POST",
				dataType : "json",
				data : $(this).serialize()
			})
			.done(function( json ) {
				if ( json.status == 'complete' ) {
					$('#mf-post-comment-list-'+json.postId).append(json.html);
					$('#mf-new-comment-form-'+json.postId)[0].reset();
					mf2.attachEvents();
				}
			})
			.fail(function( xhr, status, errorThrown ) {
				alert( "error" );
				console.log( "Error: " + errorThrown );
				console.log( "Status: " + status );
				console.dir( xhr );
			});
		});
	}
	
	$(document).ready(function() {
		
		mf2.loadFeed();
		
	});
	
</script>

<style>

.mf-post-block {
	background-color:white;
	padding:5px;margin:10px;
	border-radius:7px;
}

.mf-post {
	margin-bottom: 10px;
}

.mf-post-user-image {
	min-width:55px;
	float:left;
}

.mf-post-user-options {
	float:right;
}

.mf-post-meta {
	border-left: 3px solid #CCCCCC;
	margin-left: 55px;
	padding: 3px 0 5px 10px;
}

.mf-post-body {
	margin-top: 5px;
	clear: both;
}

.mf-post-media {
	margin:10px -5px 15px -5px;
	background-color:black;
	padding:5px;
}

.mf-comment {
	border-top:1px solid #B0B0B0; 
	margin-bottom: 5px;"
}

.mf-comment-user-image {
	min-width:45px;
	float:left;
}

.mf-comment-user-options {
	float:right;
}



</style>


<div class="row">
	<div class="col-sm-6  col-sm-offset-3">
		<div class="well well-sm">
			<h3>Write a message:</h3>
			{% include 'microfeed2/blocks/new_post_form.html' %}
		</div>
		<div id="mf-feed" style="background-color: gray; padding:1px 0;"></div>
	</div>
</div>




{% include 'images/javascript_templates.html' %}
    
    
{% endblock %}