{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}

<script>

function attachEvents() {
	for (var i=0; i < 100; i++) {
		 var st = '#id_eventposttime_set-' + i + '-start_time';
		 var et = '#id_eventposttime_set-' + i + '-end_time';
		 var sd = '#id_eventposttime_set-' + i + '-start_date';
		 $('.timeinput').timepicker({minTime: '8:00am'});
		 //$(et).timepicker({minTime: '8:00am'});
		 $('.dateinput').datepicker();
	}
}

$(function() {
	
	$('.time-form').formset({
        prefix: 'time-form',
        deleteCssClass: 'delete-row btn btn-sm btn-danger',
        deleteText: '<i class="fa fa-times" aria-hidden="true"></i>',
        addCssClass: 'add-row btn btn-success',
        addText: '<i class="fa fa-plus" aria-hidden="true"></i> {% trans "Add another event time" %}',
        added: function() {
        	attachEvents();
        }
    });
	
	attachEvents();
	
});

</script>

<style>
.ui-timepicker-wrapper {
	width:12em;
}

</style>


<h1>{% trans 'Post an Event' %}</h1>
<hr>

<form method="post">
{% csrf_token %}
{{ fEventPost|crispy }}

<div class="well">
{% crispy sEventPostTime sEventPostTime.form.helper %}
</div>


{{ fPost|crispy }}

<button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>

</form>


{% endblock %}