{% load static %}
{% load i18n %}

<div class="mf-comment" id="mf-comment-{{oComment.id}}">
	<div class="mf-view-comment" id="mf-view-comment-{{oComment.id}}">
		<div class="mf-comment-user-image">
			<img alt="{{oComment.user.get_short_name}}" src="{{ oComment.user.get_image }}" width="40" height="40">
		</div>
		<div class="mf-comment-user-options">
			{% if oComment.user == user %}
				<div class="btn-group">
					<a href="#" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<i class="fa fa-angle-down" aria-hidden="true"></i>
					</a>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="#" class="mf-edit-comment-btn" data-comment-id="{{oComment.id}}">{% trans 'Edit' %}</a></li>
						<li><a href="#" class="mf-delete-comment-btn" data-comment-id="{{oComment.id}}">{% trans 'Delete' %}</a></li>
					</ul>
				</div>
			{% endif %}
		</div>
		<div class="mf-comment-meta">
			<span class="text-warning">{{ oComment.user.get_short_name }}</span>
			<span class="text-muted"> | {{ oComment.get_pretty_date }}</span>
		</div>
		<div class="mf-comment-body">
			{{ oComment.body }}
		</div>
	</div>
	<div class="mf-edit-comment" id="mf-edit-comment-{{oComment.id}}" style="display:none;"></div>
</div>