{% load crispy_forms_tags %}
{% load i18n %}

{% if user.is_authenticated %}

	<div class="well">
	
		<div class="mf-new-post">
			<form method="post" class="mf-new-post-form" action="{{callback}}">
				{% crispy fPost fPost.helper %}
				<div style="text-align:right;">
					<button type="submit" class="btn btn-success" name="submit_form">
						{% trans 'Share' %}
					</button>
				</div>
			</form>
		</div>
		
	</div>
	
{% else %}

	<div class="well mf-force-login">
		<div class="mf-new-post">
			{% crispy fPost fPost.helper %}
			<div style="text-align:right;">
				<button type="button" class="btn btn-success" name="submit_form">
					{% trans 'Share' %}
				</button>
			</div>
		</div>
		
	</div>

{% endif %}

