{% load crispy_forms_tags %}


{% if user.is_authenticated %}

	<div class="well">
	
		<div class="row" style="font-size:1.2em;">
			<div class="col-sm-3 text-muted" style="padding-top:10px;">
				NEW MESSAGE:
			</div>
			<div class="col-sm-9">
				<ul class="nav nav-pills">
					<li><a data-toggle="pill" href="#general">General Message</a></li>
					<li><a data-toggle="pill" href="#classified">Classified Ad</a></li>
					<li><a data-toggle="pill" href="#event">Event</a></li>
				</ul>
			</div>
		</div>
		<br>
		<div class="tab-content">
			<div id="general" class="tab-pane fade">
		      	<div class="mf-new-post">
					<form method="post" class="mf-new-post-form" action="{{callback}}">
						{% crispy fPost fPost.helper %}
						<div style="text-align:right;">
							<button type="submit" class="btn btn-success" name="submit_form">
								Share
							</button>
						</div>
					</form>
				</div>
		    </div>
		    <div id="classified" class="tab-pane fade">
		      	<h3>Menu 2</h3>
		      	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
		    </div>
		    <div id="event" class="tab-pane fade">
		      	<h3>Menu 3</h3>
		      	<p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
		    </div>
		</div>
		
	</div>
	
{% else %}

	<div class="well">
		<a href="{% url 'login' %}">Login</a> or <a href="{% url 'create_account' %}">create an account</a> to post.
	</div>

{% endif %}

