{% load crispy_forms_tags %}
{% load i18n %}


{% if user.is_authenticated %}

	<div class="well well-sm">
		<div id="mf-post-form-teaser-container">
			<textarea class="textarea form-control" id="mf-post-form-teaser" rows="1" 
					placeholder="{% trans 'Post a message, classified ad, or event' %}"></textarea>
		</div>
		<div id="mf-post-forms-container" style="display:none;">
			<div style="float:right">
				<button class="btn btn-default btn-sm" id="mf-cancel-new-post">X</button>
			</div>
			<div style="font-size:1.2em;">
				<ul class="nav nav-pills">
					<li class="active"><a href="#" class="mf-show-pill" data-target-id="#mf-general">{% trans 'General Message' %}</a></li>
					<li><a href="#" class="mf-show-pill" data-target-id="#mf-classified">{% trans 'Classified Ad' %}</a></li>
					<li><a href="#" class="mf-show-pill" data-target-id="#mf-event">{% trans 'Event' %}</a></li>
				</ul>
			</div>
			<br>
			<div id="mf-general" class="mf-post-form-container">
		      	<div class="mf-new-post">
					<form method="post" id="default-post-form" class="mf-new-post-form" action="{{callback}}">
						{% crispy fPost fPost.helper %}
						<div style="text-align:right;">
							<button type="submit" class="btn btn-success" name="submit_form">
								{% trans 'Share' %}
							</button>
						</div>
					</form>
				</div>
		    </div>
		    <div id="mf-classified" class="mf-post-form-container" style="display:none;">
		      	<div class="mf-new-post">
					<form method="post" class="mf-new-post-form" action="{{callback}}">
						{% crispy fPostClassified fPostClassified.helper %}
						<div style="text-align:right;">
							<button type="submit" class="btn btn-success" name="submit_form">
								{% trans 'Share' %}
							</button>
						</div>
					</form>
				</div>
		    </div>
		    <div id="mf-event" class="mf-post-form-container" style="display:none;">
		      	<h3>{% trans 'coming soon' %}</h3>
		    </div>
		</div>
	</div>
	
{% else %}

	<div class="well text-muted">
		<a href="{% url 'login' %}">Login</a> or <a href="{% url 'create_account' %}">create an account</a> to post.
	</div>

{% endif %}

