{% load crispy_forms_tags %}
{% load static %}		
	
<div class="mf-view-post" id="mf-view-post-{{oPost.id}}">			
	<div class="mf-post-user-image">
		<img alt="{{oPost.user.get_short_name}}" src="{% static oPost.user.get_image %}" width="50" height="50">
	</div>
	<div class="mf-post-user-options">
		<div class="btn-group">
			<a href="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				<i class="fa fa-angle-down" aria-hidden="true"></i>
			</a>
			<ul class="dropdown-menu dropdown-menu-right">
				<li><a href="#" class="mf-edit-post-btn" data-post-id="{{oPost.id}}">Edit</a></li>
				<li><a href="#" class="mf-delete-post-btn" data-post-id="{{oPost.id}}">Delete</a></li>
			</ul>
		</div>
	</div>
	<div class="mf-post-meta">
		<span class="text-success">posted by {{ oPost.user.get_full_name }}</span><br>
		<span class="text-muted">{{ oPost.get_pretty_date }}</span>
	</div>
	
	<div class="mf-post-body">
		{{ oPost.body }}
	</div>
	{% if oPost.postimage_set.all.count > 0 %}
		<div class="row mf-post-media">
			{% include 'microfeed2/blocks/post_image.html' %}
		</div>
	{% endif %}
</div>
<div class="mf-edit-post" id="mf-edit-post-{{oPost.id}}" style="display:none;">
	<form method="post" class="mf-edit-post-form" data-post-id="{{oPost.id}}">
		{% crispy oPost.fPost oPost.fPost.helper %}
		<button type="submit" class="btn btn-success btn-block" name="submit_form">
			Submit Form
		</button>
	</form>
</div>