{% load crispy_forms_tags %}
{% load static %}	
{% load mycustom %}	
{% load i18n %}
	
<div class="mf-view-post" id="mf-view-post-{{oPost.id}}">			
	<div class="mf-post-user-image">
		<img alt="{{oPost.user.get_short_name}}" src="{{ oPost.user.get_image }}" width="47" height="47">
	</div>
	<div class="mf-post-user-options">
		{% if oPost.user == user %}
			<div class="btn-group">
				<a href="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					<i class="fa fa-angle-down" aria-hidden="true"></i>
				</a>
				<ul class="dropdown-menu dropdown-menu-right">
					<li><a href="#" class="mf-edit-post-btn" data-post-id="{{oPost.id}}">{% trans 'Edit' %}</a></li>
					<li><a href="#" class="mf-delete-post-btn" data-post-id="{{oPost.id}}">{% trans 'Delete' %}</a></li>
				</ul>
			</div>
		{% endif %}
	</div>
	<div class="mf-post-meta" style="background-color:#F4F4F4;">
		<span class="text-warning">
			{% blocktrans with username=oPost.user.get_full_name %}posted by {{ username }}{% endblocktrans %}
		</span><br>
		<span class="text-muted">{{ oPost.get_pretty_date }}</span>
	</div>
	
	<div class="mf-post-body">
		{% if oPost.title %}
			<div class="text-info" style="font-size:1.4em;font-weight:bold; padding: 5px 0;">
				<span>{{ oPost.title }}</span>
			</div>
		{% endif %}
		{% for oPostTime in oPost.posttime_set.all %}
			<p class="text-info" style="font-size:1.4em;">
				<i class="fa fa-calendar" aria-hidden="true"></i>
				{{ oPostTime.start_date }} 
				<span class="label label-info">
					{{ oPostTime.start_time }}
					{% if oPostTime.end_time %}
						- {{ oPostTime.end_time }}
					{% endif %}
				</span>
			</p>
		{% endfor %}
		<div style="font-size:1.2em;padding-top:10px;">
		{{ oPost.body|pretty_html|safe }}
		</div>
		
	</div>
	{% if oPost.postimage_set.all.count > 0 %}
		<div class="row mf-post-media">
			{% include 'microfeed2/blocks/post_image.html' %}
		</div>
	{% endif %}
</div>
