{% extends 'core/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load mycustom %}



{% block content %}


	
		<div class="row">
		
			<div class="col-sm-3">
				{% include 'pages/blocks/menu.html' %}
			</div>
		
			<div class="col-sm-9">
				
				<ul class="breadcrumb">	
					<li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
					{% for obj in hierarchy %}
						{% if forloop.last %}
							<li class="active">{{ obj.trans_title }}</li>
						{% else %}
							<li><a href="{{ obj.get_url }}">{{ obj.trans_title }}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
				
				
				<h1>{{oPageCategory.trans_title}}</h1>
			    <hr>
			
			
				{% for oChild in oPageCategory.child_set.all %}
					<div class="well">
			    		<h2><a href="{% url 'pages:list' oChild.id %}">{{oChild.trans_title}}</a></h2>
			    	</div>
			    {% endfor %}
			    
				
				{% for oPage in oPageCategory.page_set.all %}
					<div class="well">
						<a href="{% url 'pages:view_page' oPage.id %}">
							<h3 style="border-bottom:#D9230F solid 1px;color:#D9230F">
								<div style="float:right;">
					    			<button class="btn btn-primary btn-xs" href="{% url 'pages:view_page' oPage.id %}">> ></button>
					    		</div>
								{{ oPage.trans_title }}
							</h3>
						</a>
						{% if oPage.image %}
							<div class="row">
								<div class="col-sm-6 col-sm-push-6">
									<a href="{% url 'pages:view_page' oPage.id %}">
				    					<img src="{% static oPage.get_image %}" alt="oPage.title" class="img-responsive" />
				    				</a>
				    			</div>
								<div class="col-sm-6 col-sm-pull-6">
									{{ oPage.trans_teaser|safe }}
									<a href="{% url 'pages:view_page' oPage.id %}">
										[{% trans 'more' %}]
									</a>
								</div>
							</div>
			    		{% else %}
			    			{{ oPage.trans_teaser|safe }}
			    			<a href="{% url 'pages:view_page' oPage.id %}">
								[{% trans 'more' %}]
							</a>
			    		{% endif %}
			    		
			    	</div>
			    {% endfor %}
				    
				
				{% if not oPageCategory.page_set.all and not oPageCategory.child_set.all %}
			    	<em>{% trans 'There are no posts yet for this category.' %}</em>
			    {% endif %}
				

			</div>
			
			
			
		</div>
		




	
	


{% endblock %}