{% extends "core/base.html" %}
{% load crispy_forms_tags %}

{% block content %}


<div class="row">
	<div class="col-sm-4  col-sm-offset-4">
		<div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Create New Page Category</h3>
            </div>
            <div class="panel-body">
				<form method="post">
					{% csrf_token %}
					{{ form|crispy }}
					<button type="submit" class="btn btn-success btn-block" name="account_form">
						Submit Form
					</button>
				</form>
			</div>
		</div>
	</div>
</div>

   
    
{% endblock %}