{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}

{% get_current_language as LANGUAGE_CODE %}

{% if hierarchy %}
	<ul class="breadcrumb">	
		<li><a href="{% url 'home' %}">Home</a></li>
		{% for obj in hierarchy %}
			<li><a href="{{ obj.get_url }}">{{ obj.title }}</a></li>
		{% endfor %}
		<li class="active">Edit</li>
	</ul>
{% endif %}

{% if fPage.errors %}
	<div class="alert alert-danger">
		<i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
  		Please correct errors indicated below.
	</div>
{% endif %}

<form method="post">
	{% csrf_token %}
	{% crispy fPage fPage.template %}
	
	<button type="submit" class="btn btn-primary">Submit</button>
	
</form>

{% include 'images/javascript_templates.html' %}

{% endblock %}