{% extends 'core/base.html' %}
{% load staticfiles %}
{% load mycustom %}
{% load i18n %}

{% block content %}

<script>

	var ft = {}

	$(document).ready(function() {
		$('.field-trans-string').click(function() {
			var data = {}
			data.tableName = $(this).attr('data-table-name');
			data.fieldName = $(this).attr('data-field-name');
			data.recordId = $(this).attr('data-record-id');
			$.ajax({
				url: "/field_trans/translate",
				type: "GET",
				dataType : "json",
				data : data
			})
			.done(function( json ) {
				$('#field-trans-modal .modal-body').html(json.html);
				$('#field-trans-modal').modal('show');
			})
			.fail(function( xhr, status, errorThrown ) {
				alert( "error" );
				console.log( "Error: " + errorThrown );
				console.log( "Status: " + status );
				console.dir( xhr );
			})
			
		});
	});

</script>	

	
	<div class="row">
	
		<div class="col-sm-3">
				{% include 'pages/blocks/menu.html' %}
			</div>
	
	
	
		<div class="col-sm-9" style="overflow: auto;">
			<ul class="breadcrumb">	
				<li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
				{% for obj in hierarchy %}
					{% if forloop.last %}
						<li class="active">{{ obj.trans_title }}</li>
					{% else %}
						<li><a href="{{ obj.get_url }}">{{ obj.trans_title }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
			{% if oPage.image %}
				<div style="position:relative;margin-bottom:15px;">
					<img style="width:100%;" src="{% static oPage.get_image %}" alt="{{obj.title}}" />
					<span style="position:absolute;bottom:0px;left:0px;background-color:rgba(0,0,0,0.4);padding:5px 15px;width:100%">
						<span style="color:white;font-size:1.5em;">{{oPage.trans_title}}</span>
					</span>
				</div>
			{% else %}
				<h1>{{oPage.trans_title}}</h1>
				<hr>
			{% endif %}
			
			<div style="float:right; margin-left:10px; margin-bottom:20px;width:300px;" class="hidden-xs">
				{% if oPage.pagelink_set.all %}
					<div class="well">
						<p>{% trans 'LINKS' %}</p>
						{% for oLink in oPage.pagelink_set.all %}
							<p>
								<a href="{{oLink.url}}">
									<i class="fa fa-external-link" aria-hidden="true"></i>
									{{oLink.trans_title}}
								</a>
							</p>
						{% endfor %}
					</div>
				{% endif %}
				{% if oPage.address %}
					<div class="well">
						<p>{% trans 'LOCATION' %}</p>
						<a target="_blank" href="http://maps.google.com/?q={{oPage.address}}">{{oPage.address}}</a>
					</div>
				{% endif %}
				{% if oPage.contact_email %}
					<div class="well">
						<p>{% trans 'CONTACT EMAIL' %}</p>
						<a target="_blank" href="http://maps.google.com/?q={{oPage.address}}">{{oPage.contact_email}}</a>
					</div>
				{% endif %}
			</div>
			<div class="visible-xs-block">
				{% if oPage.pagelink_set.all %}
					<div class="well well-sm">
						<p>{% trans 'LINKS' %}</p>
						{% for oLink in oPage.pagelink_set.all %}
							<p>
								<a href="{{oLink.url}}">
									<i class="fa fa-external-link" aria-hidden="true"></i>
									{{oLink.title}}
								</a>
							</p>
						{% endfor %}
					</div>
				{% endif %}
				{% if oPage.address %}
					<div class="well well-sm">
						<p>{% trans 'LOCATION' %}</p>
						<a target="_blank" href="http://maps.google.com/?q={{oPage.address}}">{{oPage.address}}</a>
					</div>
				{% endif %}
				{% if oPage.contact_email %}
					<div class="well well-sm">
						<p>{% trans 'CONTACT EMAIL' %}</p>
						<a target="_blank" href="http://maps.google.com/?q={{oPage.address}}">{{oPage.contact_email}}</a>
					</div>
				{% endif %}
			</div>


			{{ oPage.trans_body|safe }}


			

			
			
			
			{% if oPage.post_thread %}
				<hr style="clear: both;">
				<h4>{% trans 'COMMENTS' %}</h4>
				{% include 'microfeed2/blocks/new_comment_style_post.html' %}
					<div id="mf-feed" data-thread-id="{{oPage.post_thread.id}}" style="background-color: gray; padding:1px 0;"></div>

			{% endif %}
		</div>
		
		
	</div>
	




{% endblock %}