{% extends 'core/base.html' %}
{% load staticfiles %}
{% load mycustom %}
{% load i18n %}

{% block content %}

<script>

	var ft = {}

	$(document).ready(function() {
		$('.field-trans-string').click(function() {
			var data = {}
			data.tableName = $(this).attr('data-table-name');
			data.fieldName = $(this).attr('data-field-name');
			data.recordId = $(this).attr('data-record-id');
			$.ajax({
				url: "/field_trans/translate",
				type: "GET",
				dataType : "json",
				data : data
			})
			.done(function( json ) {
				$('#field-trans-modal .modal-body').html(json.html);
				$('#field-trans-modal').modal('show');
			})
			.fail(function( xhr, status, errorThrown ) {
				alert( "error" );
				console.log( "Error: " + errorThrown );
				console.log( "Status: " + status );
				console.dir( xhr );
			})
			
		});
	});

</script>	

	
	<div class="row">
	
		<div class="col-sm-3">
			<div class="panel panel-default">
				<div class="panel-heading">{% trans 'Cincinnati Info' %}</div>
				<div class="panel-body">
   					{% include 'pages/blocks/standard_menu.html' %}
				</div>
			</div>
			{% if user.is_staff %}
				{% get_current_language as LANGUAGE_CODE %}
			
				<div class="panel panel-warning">
 					<div class="panel-heading">Staff Controls</div>
 					<div class="panel-body">
 						{% if oPage.language.code == LANGUAGE_CODE %}
		   					<a href="{% url 'pages:edit_page' oPage.id %}" class="btn btn-warning btn-sm">
								<i class="fa fa-edit" aria-hidden="true"></i>
								{% trans 'Edit Page' %}
							</a>
						{% else %}
							<a href="{% url 'pages:edit_page' oPage.id %}" class="btn btn-warning btn-sm">
								<i class="fa fa-edit" aria-hidden="true"></i>
								{% trans 'Edit Original' %} ({{ oPage.language.name }})
							</a>
						{% endif %}
						<br><br>
						<a href="{% url 'pages:translate_page' oPage.id %}" class="btn btn-warning btn-sm">
							<i class="fa fa-translate" aria-hidden="true"></i>
							{% trans 'Create/Edit Translations' %}
						</a>
						<br><br>
						<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-page-confirmation-modal">
							<i class="fa fa-trash" aria-hidden="true"></i>
							{% trans 'Delete Page' %}
						</button>
						
 					</div>
				</div>
			{% else %}
					{% blocktrans with email=constants.CONTACT_EMAIL %}Want to contribute to these pages?  <a href="mailto:{{email}}">Contact us</a> to request a Contributor Account.{% endblocktrans %}
			{% endif %}
		</div>
	
	
	
		<div class="col-sm-9">
			<ul class="breadcrumb">	
				<li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
				{% for obj in hierarchy %}
					{% if forloop.last %}
						<li class="active">{{ obj.trans_title }}</li>
					{% else %}
						<li><a href="{{ obj.get_url }}">{{ obj.trans_title }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
			{% if oPage.image %}
				<div style="position:relative;margin-bottom:15px;">
					<img style="width:100%;" src="{% static oPage.get_image %}" alt="{{obj.title}}" />
					<span style="position:absolute;bottom:0px;left:0px;background-color:rgba(0,0,0,0.4);padding:5px 15px;width:100%">
						<span style="color:white;font-size:1.5em;">{{oPage.trans_title}}</span>
					</span>
				</div>
			{% else %}
				<h1>{{oPage.trans_title}}</h1>
				<hr>
			{% endif %}
			
			<div style="float:right; margin-left:10px; margin-bottom:20px;">
				{% if oPage.pagelink_set.all %}
					<div class="well">
						<p>{% trans 'LINKS' %}</p>
						{% for oLink in oPage.pagelink_set.all %}
							<p>
								<a href="{{oLink.url}}">
									<i class="fa fa-external-link" aria-hidden="true"></i>
									{{oLink.title}}
								</a>
							</p>
						{% endfor %}
					</div>
				{% endif %}
				{% if oPage.address %}
					<div class="well">
						<p>{% trans 'LOCATION' %}</p>
						<a target="_blank" href="http://maps.google.com/?q={{oPage.address}}">{{oPage.address}}</a>
					</div>
				{% endif %}
			</div>


			{{ oPage.trans_body|safe }}


			

			
			
			
			{% if oPage.post_thread %}
				<hr>
				<h4>{% trans 'COMMENTS:' %}</h4>
				{% include 'microfeed2/blocks/new_comment_style_post.html' %}
				<div id="mf-feed" data-thread-id="{{oPage.post_thread.id}}" style="background-color: gray; padding:1px 0;"></div>
				
				{% comment %}
				
				leaving this off is a not very elegant way to prevent images on the page
				{% include 'images/javascript_templates.html' %}
				
				{% endcomment %}
			{% endif %}
		</div>
		
		
	</div>
	
	<div class="modal" id="delete-page-confirmation-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				  	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				  	<h4 class="modal-title">{% trans 'Delete Page' %}</h4>
				</div>
				<div class="modal-body">
					{% trans 'You are about to permanently remove this page and any translations of it.  Do you want to continue?' %}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">{% trans 'CANCEL' %}</button>
					<form method="POST" action="{% url 'pages:delete_page' %}" style="display:inline;">
						{% csrf_token %}
						<input type="hidden" name="page_id" value="{{oPage.id}}" />
						<button type="submit" class ="btn btn-danger">
							<i class="fa fa-trash" aria-hidden="true"></i>
							{% trans 'Yes, Delete Page' %}
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>



{% endblock %}