{% extends 'core/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load mycustom %}

{% block content %}

<ul class="breadcrumb">	
	<li><a href="{% url 'home' %}">Home</a></li>
	{% for obj in hierarchy %}
		<li><a href="{{ obj.get_url }}">{{ obj.title }}</a></li>
	{% endfor %}
	<li class="active">Translate</li>
</ul>

{% get_current_language as LANGUAGE_CODE %}


<ul class="nav nav-tabs">
	{% for oLanguage in qLanguage %}
		{% if oLanguage != oPage.language %}
			<li{% if oLanguage.code == LANGUAGE_CODE %} class="active"{% endif %}>
				<a href="#ft-{{oLanguage.code}}" data-toggle="tab">{{ oLanguage.name }}</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>
<br>
<div id="myTabContent" class="tab-content">
	{% for oLanguage in qLanguage %}
		{% if oLanguage != oPage.language %}
			<div class="tab-pane fade{% if oLanguage.code == LANGUAGE_CODE %} active in{% endif %}" id="ft-{{oLanguage.code}}">
				<form method="POST">
					{% csrf_token %}
					<div style="text-align:right;">
						<button class="btn btn-success">
							<i class="fa fa-floppy-o" aria-hidden="true"></i>
							Save {{ oLanguage.name }} Translation
						</button>
					</div>
					<input type="hidden" name="language" value={{oLanguage.code}} />
					<div class="row">
				  		<div class="col-sm-6">
				  			<h3>Original</h3>
				  		</div>
				  		<div class="col-sm-6">
				  			<h3>{{oLanguage.name}} Translation</h3>
				  		</div>
				  	</div>
				  	<div class="row well">
				  		<div class="col-sm-6">
				  			{{ oPage.title }}
				  		</div>
				  		<div class="col-sm-6">
				  			<div id="div_id_title" class="form-group">
								<label class="control-label">Title</label> 
								<div class="controls "> 
									<input class="textinput textInput form-control" maxlength="255" name="title" type="text"
										{% if oLanguage.code in oPage.all_trans_title %}value="{{oPage.all_trans_title|keyvalue:oLanguage.code}}"{% endif %}> 
								</div> 
							</div>
				  		</div>
				  	</div>
				  	<div class="row well">
				  		<div class="col-sm-6">
				  			{{ oPage.teaser|pretty_html|safe }}
				  		</div>
				  		<div class="col-sm-6">
				  			<div id="div_id_title" class="form-group">
								<label class="control-label">Teaser</label> 
								<div class="controls "> 
									<textarea class="textarea form-control" cols="30" name="teaser" rows="4">{% if oLanguage.code in oPage.all_trans_teaser %}{{oPage.all_trans_teaser|keyvalue:oLanguage.code}}{% endif %}</textarea>
								</div> 
							</div>
				  		</div>
				  	</div>
				  	<div class="row well">
				  		<div class="col-sm-6">
				  			{{ oPage.body|pretty_html|safe }}
				  		</div>
				  		<div class="col-sm-6">
				  			<div id="div_id_title" class="form-group">
								<label class="control-label">Body</label> 
								<div class="controls "> 
									<textarea class="textarea form-control" cols="30" name="body" rows="25">{% if oLanguage.code in oPage.all_trans_body %}{{oPage.all_trans_body|keyvalue:oLanguage.code}}{% endif %}</textarea>
								</div> 
							</div>
				  		</div>
				  	</div>
				</form>
			</div>
		{% endif %}
	{% endfor %}
</div>


{% endblock %}