{% extends 'core/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

	<script>
	  	tinymce.init({ 
	  		selector:'textarea',
	  		language: 'en',
	  		plugins: "textcolor, link, image",
		    toolbar: "undo, redo, removeformat, bold, italic, underline, forecolor, fontsizeselect, bullist, numlist, blockquote, link" 
		});
	</script>
	
	<ul class="breadcrumb">
	  <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
	  <li><a href="{% url 'pages:list' oPage.category %}">{% trans oPage.category %}</a></li>
	  <li><a href="{% url 'pages:page' oPage.id %}">{{ oPage.trans_title }}</a></li>
	  <li class="active">translate</li>
	</ul>
	
	
	<h1>{% trans 'Translate Page' %} : {{verbose_language}}</h1>
	<hr>
	<form method="post">

		<input name="language" type="hidden" value="{{language}}">

		{% csrf_token %}
		<div class="panel panel-default">
		    <div class="panel-heading">Title</div>
		    <div class="panel-body">
		        <div class="row">
					<div class="col-sm-6">
						{{oPage.title}}
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="control-label">{% trans 'Translation' %}</label>
							<input class="form-control" type="text" name="title" value="{{oPage.trans_only_title}}">
						</div>
					</div>
				</div>
		     </div>
		</div>
		
		<div class="panel panel-default">
		    <div class="panel-heading">Body</div>
		    <div class="panel-body">
		        <div class="row">
					<div class="col-sm-6">
						{{oPage.body|safe}}
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="control-label">{% trans 'Translation' %}</label>
							<textarea class="textarea form-control" rows="25" id="textArea" name="body">{{oPage.trans_only_body}}</textarea>
						</div>
					</div>
				</div>
		     </div>
		</div>
		
		<div class="panel panel-default">
		    <div class="panel-heading">Teaser</div>
		    <div class="panel-body">
		        <div class="row">
					<div class="col-sm-6">
						{{oPage.teaser|safe}}
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="control-label">{% trans 'Translation' %}</label>
							<textarea class="textarea form-control" rows="15" id="textArea" name="teaser">{{oPage.trans_only_teaser}}</textarea>
						</div>
					</div>
				</div>
		     </div>
		</div>
		
		{% comment %}
		{% if oPage.pagelink_set.all %}
			<div class="panel panel-default">
			    <div class="panel-heading">Links</div>
			    <div class="panel-body">
			    	{% for oLink in oPage.pagelink_set.all %}
				        <div class="row">
							<div class="col-sm-6">
								<a href="{{oLink.url}}">{{oLink.title}}</a>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="control-label">{% trans 'Translation' %}</label>
									<input class="form-control" type="text" name="link_titles[]">
								</div>
							</div>
						</div>
					{%  endfor%}
			     </div>
			</div>
		{% endif %}
		{% endcomment %}
		
		<div style="text-align:right;">
			<button class="btn btn-success">Submit</button>
		</div>
		

	</form>

{% endblock %}