{% extends "core/base.html" %}

{% block content %}
    
    <h1>HOME</h1>
    <div class="row">
    	<div class="col-sm-4">
    		<div class="well">
				{% for oCat in qPageCategory %}
					<a href="{% url 'pages:list' oCat.id %}">{{ oCat.title }}</a><br>
				{% endfor %}
			</div>
		</div>
		<div class="col-sm-7">
			<div id="microfeed-container" data-user="{{user.id|default:0}}"  data-thread="1" style="background-color:#999999"></div>
		</div>
	</div>
	
	
	{% include 'microfeed/snippets/javascript_templates.html' %}
	<div id="microfeed-modals"></div>
    
    
{% endblock %}