{% load i18n %}

<div class="hidden-xs">
	<div class="panel panel-primary" style="margin:10px 0;">
		<a href="{% url 'home' %}" class="panel-heading">
			<h3 class="panel-title">
				<i class="fa fa-home fa-lg fa-fw" aria-hidden="true"></i>
				{% trans 'HOME' %}
			</h3>
		</a>
	</div>
	{% comment %}
	<div class="panel panel-danger" style="margin:10px 0;">
		<a href="" class="panel-heading">
			<h3 class="panel-title">
				<i class="fa fa-calendar fa-lg fa-fw" aria-hidden="true"></i>
				{% trans 'UPCOMING EVENTS' %}
			</h3>
		</a>
	</div>
	{% endcomment %}
	{% for oCat in qCategory %}
		{% if oCat.page_set.all %}
			<div class="panel panel-info" style="margin:10px 0;">
				<a href="{% url 'pages:list' oCat.id %}" class="panel-heading" >
					<h3 class="panel-title">
						{{ oCat.icon|safe }}
							{{ oCat.title|upper }}
					</h3>
				</a>
			</div>
		{% endif %}
	{% endfor %}
	<button class="btn btn-primary" data-toggle="modal" data-target="#new-page-modal">Add a page</button>
</div>

<div class="visible-xs-block">
	<div class="panel panel-info">
		<div class="panel-heading" id="show-cincinnati-info-dropdown">
			<div style="float:right;">
				<i class="fa fa-chevron-down" aria-hidden="true"></i>
			</div>
			<h3 class="panel-title">
				<i class="fa fa-info-circle fa-lg fa-fw" aria-hidden="true"></i>
				CINCINNATI INFO
			</h3>
		</div>
		<div class="panel-body" id="cincinnati-info-dropdown" style="display:none;">
			<div class="panel panel-primary" style="margin:10px 0;">
				<a href="{% url 'home' %}" class="panel-heading">
					<h3 class="panel-title">
						<i class="fa fa-home fa-lg fa-fw" aria-hidden="true"></i>
						{% trans 'HOME' %}
					</h3>
				</a>
			</div>
			{% comment %}
			<div class="panel panel-danger" style="margin:10px 0;">
				<a href="" class="panel-heading">
					<h3 class="panel-title">
						<i class="fa fa-calendar fa-lg fa-fw" aria-hidden="true"></i>
						{% trans 'UPCOMING EVENTS' %}
					</h3>
				</a>
			</div>
			{% endcomment %}
			{% for oCat in qCategory %}
				{% if oCat.page_set.all %}
					<div class="panel panel-info" style="margin:10px 0;">
						<a href="{% url 'pages:list' oCat.id %}" class="panel-heading" >
							<h3 class="panel-title">
								{{ oCat.icon|safe }}
									{{ oCat.title|upper }}
							</h3>
						</a>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
			
</div>

<div class="modal fade" id="new-page-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
		  	<div class="modal-header">
		    	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		    	<h4 class="modal-title">Create a New Page</h4>
		  	</div>
		  	<div class="modal-body">
		    	...
		  	</div>
		  	<div class="modal-footer">
		    	<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		    	<button type="button" class="btn btn-primary">Save changes</button>
		  	</div>
		</div>
	</div>
</div>

